
body{
    background-color: #000099;
    font-family: 'Helvetica','Arial';
    color: white;
    text-align: center;
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    color: black;
    margin: 10px;
}

input{
    padding: 10px;
    border-radius: 3px;
}

input[type=submit]{
    border-radius: 8px;
    padding: 10px;
}


